<div class="container-fluid overflow-auto">
  <header class="jumbotron bigPlayer">
    <h1>Editing<small> <br><%= @player.title %></small></h1>
  </header>
<%= erb :'partials/players_form', :layout => false %>


</div>
