

<div class="container-fluid overflow-auto">
  <header class="jumbotron bigPlayer">
    <h1>New Guitar layer<small> <br>Add some facts</small></h1>
  </header>
<%= erb :'partials/players_form', :layout => false %>



</div>
