<div class="container-fluid overflow-auto">
  <header class="jumbotron bigBook">
    <h1>New Book<small> <br>And author</small></h1>
  </header>
  <%= erb :'partials/books_form', :layout => false %>


</div>
