<!-- <nav>
  <a href="/">Guitars</a>
  <a href="/new">New Gutiars</a>
  <a href="/players">Players page</a>

</nav> -->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">Guitar Page</a></li>
      <li><a href="/new">New guitar entry</a></li>
      <li><a href="/players">PLayers Page</a></li>
    </ul>
  </div>
</nav>
