<div class="container-fluid overflow-auto">
  <header class="jumbotron bigGuitar">
    <h1>Editing<small> <br><%= @guitar.title %></small></h1>
  </header>
  <%= erb :'partials/form', :layout => false %>
</div>
