<div class="container-fluid overflow-auto">
  <header class="jumbotron bigGuitar">
    <h1>New Guitar<small> <br>Add some facts</small></h1>
  </header>
  <%= erb :'partials/form', :layout => false %>



</div>
