<h1> <%= @guitar.title %></h1>
<p><%= @guitar.body %></p>
<a href="/<%= @guitar.id %>/edit">EDIT 1</a>
<form action="/<%= @guitar.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
