<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=  @title %></title>
    <!-- #path is automatically from the public folder -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- <link rel="stylesheet" href="/bootstrap/bootstrap.min.js"> -->
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/test2.css">
    <script type="text/javascript">

    </script>
  </head>
  <body>

    <%= erb(:'partials/navigation', :layout => false) %>

    <header class="jumbotron">
      <h1>Guitar<small> <br> The instrument for you</small></h1>
    </header>

    <%= yield %>

    <video width="320" controls>
      <source src="/videos/video1.mp4" type="video/mp4">
      </video>
  </body>
</html>
