body {
  background-color: blue;
}

/* body {
  background-color: lightgrey;
  border: 0px;
} */

.jumbotron {
  background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1) ), url("images/ofalltheforc.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  height: 300px;
  width:100%;
}
